@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --headercolor: rgba(33, 33, 33, 0.32);
  --color-bec: #FF6701;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-header: var(--headercolor);
  --color-bec: var(--color-bec);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181916;
    --foreground: #ededed;
    --headercolor: rgba(33, 33, 33, 0.32);
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  padding: 0;
  margin: 0;
  font-size: 22px;
}

.hero-btn {
  background-image: url('/images/hero/hero-btn.svg');
}

button {
  background-color: #fff;
  box-shadow: inset -3px 1px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: #171717;
}

.backdrop-blur {
  backdrop-filter: blur(4px);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
@media (min-width: 1920px) {
  .container {
    max-width: 1820px;
  }
}
@media (min-width: 1720px) and (max-width: 1919px) {
  .container {
    max-width: 1780px;
  }
}
@media (min-width: 1580px) and (max-width: 1719px) {
  .container {
    max-width: 1600px;
  }
}
@media (max-width: 1579px) {
  .container{
    max-width: 1440px;
  }
}
