@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-header: #212121;
  --color-bec: #FF6701;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181916;
    --foreground: #ededed;
    --headercolor: #212121;
  }
}

body {
  background: var(--color-background);
  color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 22px;
}

.header-container {
  max-width: 1380px;
  margin: 0 auto;
  
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}
.hero-btn {
  background-image: url('/images/hero/hero-btn.svg');
}

/* @media (max-width: 1720px) {
  .container {
    max-width: 1600px;
  }
} */

button {
  background-color: #fff;
  color: var(--color-background);
  box-shadow: inset -3 1 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
